@import "components/_variables";


/*
01. BASE
Base elements
*/

body {
  background: @primary-background;
  font-family: @body-copy;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @primary-text; 
}

ul,ol {
}

li {
}

a, a:link, a:visited {
}

a:hover {
}

p {
}

hr {
}


/*
02. LAYOUT
Styles specific to your layout or website
*/

.site-header {
	height: 200px;
	background-color:D513616;
}





/*
03. MODULES
Import component modules

@import "components/_badges.less";
@import "components/_typography.less";
@import "components/tables.less";
*/


/*
04. STATES
States

@import "components/_alerts.less";
@import "components/form-validation.less";
*/

/*
05. THEME

*/