<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="row site-info">
    <div class="col-md-3">
      <h3>Mai Niti</h3>
      <p>Welcome to Mai Niti traditional Shipibo ayahuasca retreat and healing centre. </p>

      <div class="social-media-menu">
        <span class="social-media-icons">
          <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCDAmnlkD-1R0uq9zfCffkzQ"></a>
        </span>
        <span class="social-media-icons"><a class="fa fa-vimeo"></a></span>
        <span class="social-media-icons"><a class="fa fa-facebook"></a></span>
      </div>

      <p>Contact us: +51 5156727</p>
      <p>Email us: <a href="mailto:info@mainiti.org">info@mainiti.org</a></p>
      <p>2019 Mai Niti</p>

      <span>&nbsp;</span>
    </div>
    <div class="col-md-6" style="text-align: left">
      <h3 style="text-align:center">Links</h3>
      <div class="col-md-4">
        <ul style="line-height: 20px;" class="footer-list"> 
          <li><a href="">Healing Center</a></li> 
          <li><a href="">About</a></li> 
          <li><a href="">Healers</a></li> 
          <li><a href="">Ayahuasca</a></li> 
          <li><a href="">Dietas</a></li> 
          <li><a href=">Contact Us</a></li> 
        </ul>
      </div>
      <div class="col-md-4">
        <ul style="line-height: 20px;" class="footer-list"> 
          <li><a href="">Ayahuasca Retreat</a></li> 
          <li><a href="">12 Day Retreat</a></li> 
          <li><a href="">Preparation</a></li> 

        </ul>
      </div>
      <div class="col-md-4">
        <ul style="line-height: 20px;" class="footer-list"> 
          <li><a href="">Articles</a></li> 
          <li><a href="">Photos</a></li> 
          <li><a href="">Videos</a></li> 
          <li><a href="">Testimonials</a></li> 
        </ul>
      </div>
    </div>
	</div><!-- .site-info -->
</footer><!-- #colophon -->