    <header id="masthead"  role="banner">
      <nav class="navbar lh-nav-bg-transform navbar-default navbar-fixed-top navbar-left" role="navigation"> 
        <!-- Brand and toggle get grouped for better mobile display --> 
        <div class="container" id="navigation_menu">
          <div class="navbar-header"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="true" aria-controls="navbar-ex1-collapse"> 
              <span class="sr-only">Toggle Navigation</span> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span> 
            </button> 
            <a href="index.html" class="navbar-brand"><%- siteTitle %></a>
          </div> 
          <%- partial("widgets/navbar_text_links") %>
        </div><!--#container-->
      </nav>

        <div class="site-header">
          <div class="site-branding">   
            SDFASDFASDF
          </div><!--.site-branding-->
        </div><!--.site-header-->    

    </header>


