<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta chartset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="profile" href="http://gmpg.org/xfn/11" />

	<title><%- pageTitle %> | <%- siteTitle %></title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link type="text/css" href="css/theme.css" rel="stylesheet">

	<!-- [if lt IE 9] -->
	<script src="js/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<! [endif] -->

</head>
<body>
  <div id="page" class="hfeed site">
	<%- partial("partials/_header") %>

	<div class="container-fluid" style="position:relative">
	  <div class="row">
	  	<%- partial("partials/widget-area-top") %>
	  </div>
	</div>
	<div>
	  <div class="row">
	    <%- yield %>
		<%- partial("partials/_sidebar") %>
	  </div>
	</div>

	<%- partial("partials/_footer") %>

	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>