<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
     		<h1>Bootstrap Boilerplate</h1>
     		<p>This is a Bootstrap starter template built with Harp, Less, CSS, EJS, and HTML</p>
     		<p>Made in Vancouver by <a href="http://twitter.com/cardeo">@cardeo</a></p>
     	</div>
     </div>
</div>